{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    資産市場実験
{% endblock %}

{% block styles %}
<link href="{% static "Instruction.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2>実験方法<a id='r1' href="#footnote1">*1</a></h2>
<br /><br />
<h3>実験の流れ</h3>
<p>
  金融資産の取引に関する実験を行います．まず，実験の流れを説明します．
</p>
<p>
  実験参加者：３～４人くらいで一つの取引グループを作り，２０グループに分かれる．
</p>
<ul>
  <li class='n_1'>
    各グループは，以下の二つの資産を最初に持ちます．
    <ol>
      <li class='n_2'>
        6枚の株券
      </li>
      <li class='n_2'>
        現金 4000円
      </li>
    </ol>
  </li>
  <li class='n_1'>
    各被験者は株券の取引を行うことができます．株取引は全部で10ラウンド実施されます．<br />
    （各ラウンド3分、ラウンドの間で1分作戦タイム）
  </li>
  <li class='n_1'>
    各ラウンドで，各グループは以下の3通りの方法でお金をもうけることができる．
    <ol>
      <li class='n_2'>
        株券の売り買い．
      </li>
      <li class='n_2'>
        各ラウンドで，株取引が終了した後に保有している株券一枚につき， 100円の配当金が支払われる．
      </li>
      <li class='n_2'>
        10ラウンド目の取引が終了した後でも，保有している株券一枚につき100円の配当金が支払われる．さらに，株券を発行している会社が倒産しなければ，株券1枚につき600円の現金が支払われる（株券が買い戻される)．
      </li>
    </ol>
  </li>
  <li class='n_1'>
    <strong>注意：株券を発行している会社が倒産する可能性あり！</strong><br />
    各ラウンドが終了し，配当金が支払われた後で，各株券についてサイコロを振る．
    <ol>
      <li class='n_2'>
        もし「１」の目がでたら，株券を発行している会社が倒産し，その株券は紙くずとかす．
      </li>
      <li class='n_2'>
        もし「１」以外の目がでたら，会社は生き残り，その株券は次回も使用可能である．
      </li>
    </ol>
    つまり，1/6の確率で株券が無価値になってしまう可能性がある．
  </li>
</ul>

<p>
  操作ページは以下のようになっています．<br />
  「サイコロを振る」を押すことで，出目と倒産の結果が表示されます．<br />
  例）ラウンドの最後に株券を5枚持っていた場合
</p>
<img src = "{% static "instruction/instruction_4.png" %}" class='images' />
<p>
  要約：
  <ul>
    <li class='n_2'>
      1～9回目の各ラウンドでは，取引終了後，まず株券1枚につき100円の配当が得られる．配当金をもらった後，サイコロを振って，生き残った株券は次のラウンドに持ち越せる．
    </li>
    <li class='n_2'>
      最後の10ラウンド目の取引が終了した後では，まず株券一枚につき100円の配当金を受け取る．配当金をもらった後，サイコロを振って，生き残った株券についてのみ，一枚当たり600円の現金が得られる．
    </li>
  </ul>
</p>
<br /><br />

<h3>取引のルール：ダブルオークション</h3>
<ul>
  <li class='n_1'>
    各グループの代表者を一人決め，「株の売買人」に指定する．
  </li>
  <li class='n_1'>
    株の売買人は，もし自分のグループが他のグループから株券を一枚P円で買いたいときには, 入力欄に価格P円を入力し買い注文ボタンを押してください．<br />
    また，もし自分のグループが他のグループへ株券を一枚Q円で売りたい場合には，入力欄に価格Q円を入力し，売り注文ボタンを押してください．<br >
  </li>
  <li class='n_1'>
    注文された価格はあなたのグループ番号と共に表示されます．
  </li>
  例）最初に，グループ１が892円で売り注文、グループ２が694円で買い注文を出したとしよう．<br /><br />
  <table class='table'>
    <tr align='center'><th>売り値</th><th>買い値</th></tr>
    <tr align='center'><th>グループ１：892</th><th>グループ２：694</th></tr>
  </table>
  この場合，買値が売値より低いので取引は成立しない．<br /><br />

  <li class='n_1'>
    <strong>価格の提示ルール</strong>
    <ol>
      <li class='n_2'>
        買い値：注文されている買い値の内最も高い値より，高い価格を入力しなければなりません．
      </li>
      <li class='n_2'>
        売り値：注文されている売り値の内最も低い値より，低い価格を入力しなければなりません．
      </li>
    </ol>
  </li>


  <li class='n_1'>
    <strong>取引の成立</strong>
    <ol>
      <li class='n_2'>
        買い値のうち，注文されている最も高い値で株券を一枚売ってもよいと判断した場合には，買い値の欄に表示されている承諾(売却)ボタンを押してください．<br />
        また，最も高い買い値より低い売り値を注文した場合にも取引は成立し，取引は最も高い買い値で行われます．
      </li>
      <li class='n_2'>
        売り値のうち，注文されている最も低い値で株券を一枚買ってもよいと判断した場合には，売り値の欄に表示されている承諾(購入)ボタンを押してください．<br />
        また，最も低い売り値より高い買い値を注文した場合にも取引は成立し，取引は最も低い売り値で行われます．
      </li>
    </ol>
<br />
<br />
    <p>
      操作画面は以下のようになります．<br />
      売り値は価格が<strong>低い順</strong>，買い値は価格が<strong>高い順</strong>で表示されます．<br >
      一番上にある価格を承諾する場合には承諾する値の上にある承諾ボタンを押してください．<br />

    </p>
    <label>例)</label> <br />
    <img src = "{% static "instruction/instruction_5.png" %}" class='images'/> <br />
    この時，買い値は755よりも大きい値，売り値は842よりも小さい値でなければならない．
    <br /><br />



    注意：
    <ul>
      <li class='n_2'>
        株券を持っていないグループは売れない．空売りはダメ！．
      </li>
      <li class='n_2'>
        お金を持っていないグループは買えない．借金はダメ！．
      </li>
      <li class='n_2'>
        1回で1枚のみ株券が取引される．「売り値」もしくは「買い値」のいずれかの「承諾」ボタンが押され、取引が一つでも成立した場合には，それまでの価格の情報はすべて消える．
      </li>
      <li class='n_2'>
        次に、新たな希望価格を入力する。 最初は，前の取引で書かれた価格は一切無視して，どんな価格を入力しても良い．
      </li>
      <li class='n_2'>
        ただし，一つの価格が入力された後は，上記の「価格提示のルール」に従って，価格をしなければならない．
      </li>
      <li class='n_2'>
        上記のプロセスを繰り返す．ラウンド中は、何枚、株を買ったり、売ったりしてもＯＫ．
      </li>
      <li class='n_2'>
        3分経ったら一つのラウンドが終了．ラウンドは全部で10回ある．
      </li>
    </ul>
  </li>
</ul>
説明は以上です．<br />
各チームの説明が終わり次第実験を始めますので「<strong>次へ</strong>」を押して，次のページでお待ちください．<br />
<br />
<p id='footnote1'><a href='#r1'>*1</a>
  ここでの実験は，Ball and Holt（2000）に基づいている.
</p>
    {% next_button %}
{% endblock %}
