{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    インストラクション
{% endblock %}

{% block content %}
  <h2>1.市場取引と物品税の影響</h2>
  <br />
  <h3>1)実験ルール</h3>
  <p>
    　発泡酒の売買の実験をします．実験ルールについてご説明いたしますので，以下の説明を注意して読んでください．
  </p>
  <p>
    　三種類の実験，「セッション1」，「セッション2」と「セッション3」を行います．
    各々のセッションで，あなたは発泡酒の「売り手」もしくは「買い手」になります．
    次のページに各々のセッションに関する数値が書いてあります．
    この数値はあなたの個人情報で他の人達に漏らしてはいけません．
    この実験では，20人に参加してもらい，10人が買い手の役割，10人が売り手の役割をしてもらいます．
  </p>
  <br />
  <h3>セッション1：税金なし</h3>
  <p>
    　《買い手の役割》あなたは発泡酒(350mlのカン)を最大2本購入しようと考えています．
    以下の図のように書かれている数字は，あなたが発泡酒を入手するのに支払ってもよいと考えている「最高価格」です．
    例えば，あなたが「買い手1」で，
    <br />
    <div style="text-align: center">
    <img src = "{% static "instruction/instruction_1.png" %}" class='images'/> <br /><br />
    </div>
    <br />
    という情報を受け取ったとすれば，1本目には最高X円，2本目には最高Y円支払ってもよいことになります．
    1本目の発泡酒の方が2本目の発泡酒より満足度は高く，Ⅹ＞Ｙが成立しているとします．
  <br />
    　もし，あなたが価格P円で1本目の発泡酒の購入に成功すると<br /><br />
    <div style="text-align: center">
      あなたの利得(もうけ)＝最高価格－P(円)
    </div>
    <br />
    です．たとえば，250円が購入するのに払ってもよい最高価格だとします．
    もし200円で購入したなら50円分得をしたと考えてもよいわけです．
    もし100円で購入すれば150円分のもうけです．
    もうけを大きくするため，できるだけ安い価格で購入してください．<br />
    　また，損をしてまで購入する必要はなく，全く購入しなくても結構です．
    もし購入価格が260円なら，それが最高価格をこえてしまっているので，10円の損をします．
    買わなければ，もうけは0円ですので，この価格では買わない方がよいことになります．
  </p>
  <p>
    　《売り手の役割》あなたは発泡酒を2本持っています．
    以下の図のように書かれている二つの数字は発泡酒の仕入れ値です．
    例えば，あなたが「売り手1」で
    <br />
    <div style="text-align: center">
    <img src = "{% static "instruction/instruction_2.png" %}" class='images'/> <br /><br />
    </div>
    <br />
    という，情報を受け取ったとすれば，1本目の仕入れ値はC円，2本目の仕入れ値はD円となります．
    1本目の仕入れ値の方が2本目の仕入れ値より安く，Ⅽ＜Ⅾが成立しているとします．
    <br />
    　あなたは仕入れ値よりも高い価格で販売するのが使命です．
    もしあなたが価格P円で発泡酒を売ったなら，<br /><br />
    <div style="text-align: center">
      あなたの利得(もうけ)＝P－仕入れ値(円)
    </div>
    <br />
    です．仕入れ値が200円だとします．250円で売れば50円のもうけです．
    300円で売れば100円のもうけです．
    もうけを大きくするために，できるだけ高い価格で売ってください．
    <br />
    もりとん，損をしてまで販売する必要はありません．
    もし180円で売ったりすると20円の損になります．
    あなたが売らなければ，もうけは0円です．
    この価格では売らない方がよいことになります．
  </p>
  <p>
    《売買の方法》<br />
    以下の図のような画面で取引を行います．
    <br />
    <div style="text-align: center">
    <label><strong>買い手の取引画面</strong></label>
    <img src = "{% static "instruction/instruction_3.png" %}" class='images'/> <br /><br />
    </div>
    <br />
    <br />
    <div style="text-align: center">
    <label><strong>売り手の取引画面</strong></label>
    <img src = "{% static "instruction/instruction_4.png" %}" class='images'/> <br /><br />
    </div>
    <br />
    　左上に表示される数値の情報を他の人に漏らさない様にしてください．
    ここでいよいよ取引がはじまります．<br />
    　取引方法は2つあります．1つは自分が注文をだし，それを承諾してもらう方法．
    もう1つは他の人が出している注文を承諾する方法です．
    承諾ボタン(買い手の場合は購入，
    売り手の場合は売却)は各注文リストの価格の横に表示されます．
    買い注文リストでは注文された価格が大きい順に，売り注文リストでは小さい順に表示されます．
    <br />
    　取引時間は3分です．ただし，損をしてまで取引を行う必要はありません．<br />
    　成立した取引は画面右上の成立取引リストに表示されます．<br />
    　2本とも取引に成功したら，操作を止めて全取引が終了するのを待ってください．
  </p><br />
  <h3>買い手が購入するときの注意：</h3>
  <p>
    ・	1本目の購入でも，２本目の購入でも損をしないようにして下さい．
    例えば，1本目の購入では30円もうけたが，2本目の購入では10円損をした場合，合計では20円得をしますが，
    このような買い方は止めてください．<br />
    ・	繰り返しますが，損をしてまで購入する必要はありません．
    取引が終わった後で購入した発泡酒の総数は，0，1，2のどれでも構いません．
    ただし，なるべく自分のもうけが大きくなるようにがんばってください．
  </p><br />
  <h3>売り手が販売するときの注意：</h3>
  <p>
    ・	1本目の販売でも，２本目の販売でも損をしないようにして下さい．
    例えば，1本目の販売では30円もうけたが，2本目の販売では10円損をした場合，
    合計では20円得をしますが，このような売り方は止めてください．<br />
    ・	繰り返しますが，損をしてまで販売する必要はありません
    ．販売した発泡酒の総数は，0，1，2のどれでも構いません．
    ただし，なるべく自分のもうけが大きくなるようにがんばってください．
  </p><br />
  <h3>セッション2：売り手が税を支払うケース</h3>
  <p>
    《買い手》あなたのおかれている状況は基本的にはセッション1と同じです．<br /><br />
    《売り手》あなたのおかれている状況は，以下の点を除いて基本的にはセッション1と同じです．<br />
    ・もしあなたがこの発泡酒を売ったなら，仕入れ値に加えてさらに，
    税金を1個につき40円支払わなければなりません．
    よって，もしP円でこの発泡酒を売ったなら，<br /><br />
    <div style="text-align: center">
      あなたの利得(もうけ)＝P－仕入れ値－40(円)
    </div>
    <br />
    です．もうけを大きくするために，できるだけ高い価格で売ってください．
    もちろん，損をしてまで販売する必要はありません．あなたが売らなければ，もうけは0円です．
    <br /><br />
    《売買の方法》セッション1と同じです．
  </p><br />
  <h3>セッション3：買い手が税を支払うケース</h3>
  <p>
    《買い手》あなたのおかれている状況は，以下の点を除いて基本的にはセッション1と同じです．<br />
    ・もしあなたがこの発泡酒を売ったなら，仕入れ値に加えてさらに，
    税金を1個につき40円支払わなければなりません．
    よって，もしP円でこの発泡酒を売ったなら，<br /><br />
    <div style="text-align: center">
      あなたの利得(もうけ)＝P－仕入れ値－40(円)
    </div>
    <br />
    です．もうけを大きくするために，できるだけ高い価格で売ってください．
    もちろん，損をしてまで販売する必要はありません．あなたが売らなければ，もうけは0円です．
    <br /><br />
    《売り手》あなたのおかれている状況は基本的にはセッション1と同じです．<br /><br />
    《売買の方法》セッション1と同じです．
  </p>

    {% next_button %}

{% endblock %}
