{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    共通価値オークション
{% endblock %}

{% block content %}
<head>
  <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>

<strong>４）共通価値のケース（common values case）</strong><br />
 <p>
   これまで行った実験での想定とは異なり，以下のような状況も考えられる．
 </p>
<p>
  <strong>共通価値のケース（common values case）：</strong>オークションで売られる財の価値は，その財を買った人すべてにとって同じである．しかしながら，財が売られる時には，買い手の誰もその財の本当の価値が分からず，財の価値に関する予測は人によって異なる．
</p>
<p>
  例）石油会社による油田の採掘権の入札．<br />
  　あなたは石油会社のオーナーです．いま，ある地域の油田の採掘権をめぐって，他の会社と競争しており，1社だけが採掘権を手に入れることができます．どの会社が石油の採掘権を得るかは，ファースト・プライス・オークション（セッション５と６）によって決まります．石油の埋蔵量について正確な値はわかりませんが，入札の前に，各石油会社は独自に調査を行い，埋蔵量を予測することができます．
</p>
<p>

セッション５：<br />
・	5チームで入札．各チームは調査結果の値を受け取る．<br />
・	調査結果の値は，区間[0, 100]からランダムに抽出された値（整数，単位万ドル）で決まる．
各値が選ばれる確率は同じ（一様分布）で、独立に選ばれる．<br />
・	実際の油田の価値額は，5枚のカードに書かれた値の平均値である．<br />
各チームの調査結果の値＝ \( x_i \)．
　「油田の価値額」＝\( \dfrac{(x_1+x_2+x_3+x_4+x_5)}{5}\)<br />
・	自分のチームの調査結果の値は秘密情報．他のチームには絶対に見せないこと．
チーム間の話し合いも認めない．<br />
・	ファースト・プライス・オークションで落札チームを決める．<br />
・	入札額を整数の値に設定して報告<br />
・各チームの利得＝「油田の価値額」－「入札額」　　落札できた場合<br />
　　　　　　　　＝　０　　　　　　　　　　　　　　落札できなかった場合<br />
・	調査結果の値に基づいて、油田の価値額の予測値も報告<br />
・ 最高額を複数のチームが入札していた場合、ランダムに落札チームが決定される．
</p>
<p>
セッション６．ファースト・プライス・オークション（共通価値），10チーム<br />
・	基本的にはセッション５と同じ．ただし，チーム数が10に増える．<br />
・	油田の価値額は，10チームのカードの値の平均値となる．
</p>
<br />
<p>
  グループ番号は<strong>{{ participant.id_in_session }}番</strong>です.<br />
  グループ番号は必ずしもZooｍのブレイクアウトルーム番号とは一致しません．
</p>
<br />

    {% next_button %}

{% endblock %}
